.container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    text-align:center;
}

body {
    background: #63d471;;
    color: white;
}


.player-seat-base {
    
}

.player-seat-1 {
    grid-column: 1;
    grid-row: 1;
}

.player-seat-2 {
    grid-column: 2;
    grid-row:1;
}

.player-seat-3 {
    grid-column: 3;
    grid-row:1;
}

.player-seat-4 {
    grid-column: 3;
    grid-row:2;
    display: grid;
    align-items: center;
}

.player-seat-5 {
    grid-column: 3;
    grid-row:3;
}

.player-seat-6 {
    grid-column: 2;
    grid-row:3;
}

.player-seat-7 {
    grid-column: 1;
    grid-row:3;
}

.player-seat-8 {
    grid-column: 1;
    grid-row:2;
    display: grid;
    align-items: center;
}

.player-icon {
    border-radius: 100%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #63A46C;
    justify-content: center;
    margin: 0 auto;
}
.playing-table {
    grid-column: 2;
    column-width: 3/4;
    grid-row: 2;    
    height: 55vh;
    background-color: #6a7152;
    border: 1px solid black;
    border-radius: 50px;
}

